/**
*   _themes.scss
*   当HTML的data-skin为blue时，样式引用blue
*   data-skin为其他值时，就采用对应的默认样式
*   这里我定义了5套主题方案，想要再多只需在`$themes`里加就行了
*   注意一点是，每套配色方案里的key可以自定义但必须一致，不然就会混乱
*   这是定义好的对应变量的颜色（需要什么都可以自行定义并引用）：
*   字体： font_color1
*   背景： background_color1
*   边框： border_color1
**/

$themes: (
  dark: (
    font_color1: #fff,
    border_color1: #3e8bf4,
  ),
  light: (
    font_color1: #000,
    border_color1: red,
  ),
);